.spinner {
  position: fixed;
  left: 45%;
}

.App {
  background-color: #111;
  height:  100vh;
  color: rgb(117, 119, 124);
}


.title__favorite {
  position: absolute;
  left: 46%;
}

.title__moviecollection {
  position: absolute;
  left: 46%;
}